.Products{
    justify-content: center;
    padding: 0 10vmax;
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
}

.Products-heading{
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0, 0 , 0, 0.171);
    padding: 2vmax;
    color: rgba(0, 0 , 0, 0.371);
    text-align: center;
    font: 500 1.5vmax "Roboto";
}

.paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-item{
    list-style: none;
    border: 1px solid rgba(0, 0 , 0, 0.171);
    padding: 1vmax 1.5vmax;
    transition: all 0.5s;
    cursor: pointer;
}

.page-link{
    text-decoration: none;
    color: rgba(0, 0 , 0, 0.671);
    font: 300 1vmax "Roboto";
}

.page-item:hover{
    background-color: rgb(230, 230, 230);
}

.pageItemActive{
    background-color: tomato;
}

.pageLinkActive{
    color: thistle;
}

.filterBox{
    width: 10vmax;
    position: absolute;
    top: 10vmax;
    left: 3vmax;
}

.categoryBox{
    padding: 0%;
}

.categoryLink{
    list-style: none;
    color: rgba(0,0,0,0.6);
    font:400 0.9vmax "Roboto";
    transition: 0.5s all;
    cursor: pointer;
    margin: 0.4vmax;

}
.categoryLink:hover{
    color: red;
}

@media screen and (max-width:600px){
.Products-heading{
    font: 500 2.5vmax "Roboto";

}
    .filterBox{
        width: 20vmax;
        position: static;
        margin: auto;
    }

    .page-link{
        font: 300 1.7vmax "Roboto";
    }
    .categoryLink{
        font: 400 1.7vmax "Roboto";
    }
}